.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    background-color: red;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    background-color: green;
    color: #fff;
}
.close {
}

.close img {
}
