.App {
    --header_height: 60px;
}

.hwContainer{
    max-width: 1200px;
    margin: auto;
}

.hw {

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 24px;
    margin-top: 131px;
}