.button {
    color: green;
}

.disabled {
    background-color: black;
    color: #fff;
}

.secondary {
    background-color: violet;
}

.default {
    background-color: yellow;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
